@media (max-width: 575.98px) {

    .bannerTitle{font-size: 22px;}
    .bannerSubTitle{font-size: 14px;}
    .countNumber{font-size: 36px;}
    .countTitle{font-size: 16px;}
    .summaryFixedBanner{ min-height: 550px;}
    .summaryBannerOverlay{min-height: 550px;}

}

@media (min-width: 576px) and (max-width: 767.98px) {
    .bannerTitle{font-size: 30px;}
    .bannerSubTitle{font-size: 20px;}
    .summaryFixedBanner{ min-height: 550px;}
    .summaryBannerOverlay{min-height: 550px;}

 }

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .summaryFixedBanner{ min-height: 400px;}
    .summaryBannerOverlay{min-height: 400px;}
 }